.cell {
  width: 200px;
  height: 200px;
  border: 2px solid;
  box-shadow: 0 0 0 2px;
  line-height: 200px;
  font-size: 175px;
  cursor: pointer;
}

#gameContainer {
  font-family: "Permanent Marker", "Times New Roman", Times, serif;
  text-align: center;
}
#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 600px;
  height: 600px;
  margin: auto;
}
